body{
  font-family: "Poppins";
}
  
  
.number1 {
  /* width: 100%; */
  background-color: #020202;
  /* height: 30px; */
  border-radius: 0%;
  padding: 1px 0px;
  font-size: 12px;
  /* padding-bottom: 15px; */
}
  
ul{
  list-style: none;
}
  
.number1 ul{
  display: flex;
  color: #fff;
  font-weight: 500;
  justify-content: space-around;
}       
  
  
.number1 span{
    color: darkgray
}
  
#contactUsLi{
    color: #fff;
    border-bottom: 1px solid;
}

#svg{
  display: flex;
}

.iconlogo{
  margin-left: 20px;
}

#page{
  margin: 50px;
}

#n{
  font-size: 50px;
  display: block;
}


.InputContainer{
  width: 400px;
  height: 30px;
  align-content: center;
  border: 1px solid;
  border-color: #A2A6B0;
  margin-bottom: 20px;
}

#stateSelect{
  width: 410px;
  height: 50px;
  margin-bottom: 25px;
}

#localgovtSelect{
  width: 410px;
  height: 50px;
  margin-bottom: 25px;
}

#genderContainer{
  display:flex;
  align-items: center;
}

#submit{

width: 100px;
height: 40px;
font-size: 14px;
color: #fff;
background-color: #0156FF;
border: 1px solid #0156FF;
border-radius: 20px;
border-color: #0156FF;
margin-top: 10px;
}

